
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --background-color: rgb(149, 69, 69);
    --font-color: white;
    --overlay-color: #03a9f4;

    --menu-width: 300px; 
}

html,body{
    width: 100vw;
    height: 100vh;
}

*{
    box-sizing: border-box; /*dimension defined include border, padding, content*/
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
} /*global settings, normaly we do this*/

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--background-color);
    color: var(--font-color);
    z-index: 2;
    transition: 0.5s;
}

.showcase header{  /*space bar means all header under showcase*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px; /*first-top,bottom, seclnd*/
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;  /*captalize*/
    transition: 0.5s;
}

.showcase.active{ /*watch: no space; it means only when showcase & active 
    appears in html, then employ below settings; we will use js to control how to add 
    active in html to activate below settings*/ 
    right:var(--menu-width); /**showcase至上一级position为absolute右边框的距离*/
    width: calc(100% - var(--menu-width)); /**即新的showcase的宽度*/
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('image/menu.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center; /*make it in the center*/
    cursor: pointer;
    filter: invert(1); /*invert the color of menu icon*/
}

.toggle.active{ /*when click menu, toggole to another state*/
    background-image: url('./image/close.svg');

}


.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;

}


.text{
    position: relative;
    z-index: 3;
}

.text h1{
    font-size: 5rem; /*1rem = root em 16px*/
    font-weight: 800;
    line-height: 1em; 
    text-transform: uppercase;
}

.text h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;

}

.text p{
    font-size: 1.1rem;
    margin: 20px 0;
    max-width: 700px;

}

.text a{
    display: inline-block;
    font-size: 1rem;
    background-color: var(--font-color);
    padding: 10px 30px;
    text-transform: uppercase;
    color: var(--background-color);
    text-decoration: none;
    letter-spacing: 2px;
    cursor:pointer;
    transition: 0.2s;
    margin-top: 20px;


}

.text a:hover{
    letter-spacing: 6px;
    padding: 20px 60px;
    font-size: 2rem;


}

.social{
    position: absolute;
    bottom: 50px;
    z-index:3;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transition: 0.5s;
    
}

.social li a:hover{
    transform: translateY(-10px);
    /* transition: 0.5s; */
}


.menu{
    z-index: 1;  /*z-index: 1; make sure header can cover menu*/
    position: absolute;
    top: 0;  /*回溯上一层定位，直到上一层position:absolute, position默认为static*/
    right: 0; /*回溯上一层定位*/
    
    width: var(--menu-width);
    height: 100%; /*回溯上一层定位*/
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul{
    list-style: none;
    position: relative;

}

.menu ul li a{
    text-decoration: none; /*hide the underlines*/
    font-size: 24px;
    color: var(--overlay-color);
}

@media(max-width: 798px){ 
    /*if max-width falls below 798px, employ below settings*/
    .showcase,
    .showcase header{
        padding: 40px;

    }

    .text h1{
        font-size: 3rem;
    }

    .text h2{
        font-size: 2rem;

    }

}

