* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

.page1 {
  height: 900px;
  padding: 0 30px 58px;
  background-image: url("./Img/p1background.png");
}
.page1 .header_container {
  height: 105px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
}
.page1 .header_container .nav_container {
  text-decoration: none;
}
.page1 .header_container .nav_container ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.page1 .header_container .nav_container ul li {
  margin: 10px;
}
.page1 .content_container {
  height: 795px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, minmax(auto, 80px));
}
.page1 .content_container .content {
  grid-column: 6/span 4;
  grid-row: 3/span 4;
  padding: 30px;
  color: white;
}
.page1 .content_container .content .button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.page1 .content_container .content .button_container button {
  color: white;
  border: 0;
  padding: 15px;
}
.page1 .content_container .content .button_container button:nth-child(1) {
  background-color: #FF7F2B;
}
.page1 .content_container .content .button_container button:nth-child(2) {
  margin-left: 30px;
  background-color: #D2D0C9;
}
.page1 .content_container .content .button_container button:hover {
  cursor: pointer;
}

.page2 {
  height: 900px;
  padding: 30px 58px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page2 .leftContent {
  background-color: #D2D0C9;
  width: 425px;
}
.page2 .leftContent .wrapper {
  width: 100%;
  padding: 200px 15px 100px;
}
.page2 .leftContent .wrapper button {
  padding: 10px;
  border: 0;
}
.page2 .leftContent .wrapper button:hover {
  cursor: pointer;
}
.page2 .openingHour {
  background-color: #FF7F2B;
  width: 425px;
}
.page2 .openingHour .wrapper {
  width: 100%;
  padding: 200px 15px 100px;
}
.page2 .rightImg {
  background-color: #D2D0C9;
  width: 425px;
}
.page2 .rightImg .wrapper {
  width: 100%;
  padding: 200px 15px 100px;
}
.page2 .rightImg .wrapper img {
  width: 100%;
}

.page3 {
  height: 900px;
  padding: 30px 58px;
  background-color: greenyellow;
}

.footer {
  height: 300px;
  padding: 30px 58px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer .shopInfo {
  background-color: aqua;
  width: 425px;
}
.footer .shopInfo .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .explore {
  background-color: greenyellow;
  width: 425px;
}
.footer .explore .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .explore .wrapper .exploreList ul {
  list-style: none;
}
.footer .explore .wrapper .exploreList ul li::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: aqua;
  position: absolute;
  left: -25px;
  bottom: 28px;
}
.footer .contactUs {
  background-color: aqua;
  width: 425px;
}
.footer .contactUs .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .contactUs .wrapper .contactList ul {
  list-style: none;
}
.footer .contactUs .wrapper .contactList ul li::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: aqua;
  position: absolute;
  left: -25px;
  bottom: 28px;
}

/*# sourceMappingURL=style.css.map */
