$page1-height: 900px;
$page1-header-height: 105px;
$page1-content-height: $page1-height - $page1-header-height;

$addressing-color: #FF7F2B;
$background-color: #D2D0C9;
$text-color: #4A4947;

*{
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;

    width: 100vw;
    height: 100vh;
}

.container_parent{
    width: 100%;
    height: 100%;

}

a{
    text-decoration: none;
}

.page1{
    height: $page1-height;


    background-image: url('./Img/p1background.png');
    

    .header_container{
        height: $page1-header-height;

        background-color: orange;
        
        display: flex;
        justify-content: space-around;

        .logo_container{
            
        }
        .nav_container{
            text-decoration: none;
            ul{
                display: flex;
                justify-content: space-evenly;
                
                list-style-type: none;      // cancel bullet point
                li{
                    margin: 10px;
                }
            }

        }
    }

    .content_container{
        height: $page1-content-height;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, minmax(auto, 80px));

        //background-color: aqua;
    
        .content{
            grid-column: 6 / span 4;
            grid-row: 3 / span 4;

            padding: 30px;

            color: white;

            .button_container{
                margin-top: 30px;

                display: flex;
                justify-content: flex-start;
                button{
                    margin: 30px;
                }
            }
        }

    }
}

.page2{
    height: 900px;
    background-color: blue;
}

.page3{
    height: 900px;
    background-color: greenyellow;
}


.footer{
    height: 300px;
}

