$page1-height: 900px;
$page1-header-height: 105px;
$page1-content-height: $page1-height - $page1-header-height;

$addressing-color: #FF7F2B;
$background-color: #D2D0C9;
$text-color: #4A4947;

$page-topBottom-padding: 30px;
$page-leftRight-padding:58px;

$page2-subComp-width: 450px;
$footer-subComp-width: 450px;

*{
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;

    width: 100vw;
    height: 100vh;
}


// 'page margin' for each section
section{
    padding: 30px 60px;
    
}



a{
    text-decoration: none;
}


// -------------------------------------------------------------
.page1{
    height: $page1-height;
    //padding: 0 $page-topBottom-padding $page-leftRight-padding;

    background-image: url('./Img/p1background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: change 10s infinite ease-in-out;
    @keyframes change {
        0%{
            background-image: url(./Img/p1background2.JPG);
        }
        33%{
            background-image: url(./Img/p1background3.JPG);
        }
        66%{
            background-image: url(./Img/p1background.png);
        }
        100%{
            background-image: url(./Img/p1background2.JPG);
        }
    }

    .header_container{
        height: $page1-header-height;

        // background-color: orange;
        
        display: flex;
        justify-content: space-around;

        .logo_container{
            img{
                height: 100%;
            }
        }
        .nav_container{
            text-decoration: none;
            // TODO: font
            font-size: 24px;

            display: flex;
            justify-content: center;
            align-items: center;

            ul{
                display: flex;
                justify-content: space-evenly;
                
                list-style-type: none;      // cancel bullet point
                li{
                    margin: 10px;
                    a{
                        color: whitesmoke;
                    }
                }
            }
        }
    }

    .content_container{
        height: $page1-content-height;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, minmax(auto, 80px));

        //background-color: aqua;
    
        .content{
            grid-column: 6 / span 4;
            grid-row: 3 / span 4;

            padding: 30px;

            color: whitesmoke;

            .button_container{
                margin-top: 30px;

                display: flex;
                justify-content: flex-start;

                
                button{
                    color: white;
                    border: 0;
                    padding: 15px;

                    &:nth-child(1){                  
                        background-color: $addressing-color;
    
                    }
                    &:nth-child(2){
                        margin-left: 30px;
                        background-color: $background-color;
                    }

                    &:hover{
                        cursor: pointer;
                    }

                }
            }
        }

    }
}

// --------------------------------------------------------------
.page2{
    height: 700px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    background-color: blue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .leftContent{
        background-color: #D2D0C9;
        width: $page2-subComp-width;

        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;

            button{
                padding: 10px;
                border: 0;

                &:hover{
                    cursor: pointer;
                }
            }

        }
    }
    .openingHour{
        background-color: #FF7F2B;
        width: $page2-subComp-width;


        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;

            color: whitesmoke;
            ul{
                list-style-type: none;      // cancel bullet point
                padding-left: 0;
                span{
                    color: black;
                }
            }
        }

    }
    .rightImg{
        background-color: skyblue;
        width: $page2-subComp-width;
        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;
            img{
                width: 100%;;
            }
        }
    }
}

// ---------------------------------------------------------------
.page3{
    height: 900px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    background-color: greenyellow;
}

// ---------------------------------------------------------------
.footer{
    height: 300px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .shopInfo{
        background-color: aqua;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;
            .logo_container{
                
                img{
                    width: 75px;
                }
            }
        }
    }

    .explore{
        background-color: greenyellow;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;

            h1.explore_title{
                margin-top: 0;
            }

            // TODO: how to place li like in 2 colums 3 rows?
            .exploreList ul{
                list-style: none;
                // display: flex;
                // justify-content: space-between;
                // align-items: flex-start;

                // TODO: how to add ::before icon?
                li::before{
                    content: '';
                    width: 20px;
                    height: 2px;
                    background-color: aqua;

                    position: absolute; 
                    left: -25px;
                    bottom: 28px;
                }
            }
        }
    }

    .contactUs{
        background-color: aqua;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;

            h1.contactUs_title{
                margin-top: 0;
            }

            .contactList ul{
                list-style: none;
                padding-left: 0;

                li{
                    margin: 10px 0;

                    &::before{
                        content: '';
                        width: 20px;
                        
                        
                        background: url("./Img/map.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; /*make it in the center*/
                        cursor: pointer;
                        filter: invert(1); /*invert the color of menu icon*/
                    }
                }
            }
        }
    }
}

