// DataDisplay.module.scss
.dataItem {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
  
    &.highlightA {
      background-color: lightblue;
    }
  
    &.highlightB {
      background-color: lightgreen;
    }
  }
  