* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #666;

  /* 使行盒子元素居中， 块盒元素不会被影响， 同时这个属性可以被继承 */
  text-align: center;
}

audio {
  width: 450px;
  margin: 30px 0;
}

.container {
  height: 420px;
  overflow: hidden;
  border: 2px solid #fff;
}

.container ul {
  /* 使css数值类属性连续变化 */
  transition: 0.6s;
  list-style: none;
}

.container li {
  height: 30px;

  line-height: 30px;

  /* ! this transition only effect when selector is in effect */
  transition: 0.6s;
}

.container li.active {
  color: #fff;

  /* font-size cause layout change -> reflow, not efficient */
  transform: scale(1.2);
  /* ! this transition only effect when selector is in effect -> when remove active class, this transition won't be in effect */
  transition: 0.6s;
}
