a{
    text-decoration: none;
}

.navbar{
    margin-top: 50px;
    margin-left: 50px;

    .nav-item{
        $border-style: 3px solid #cccccc;
        $border-radius: 9px;

        display: block;
        padding: 8px 16px;
        width: 200px;
        border: $border-style{
            bottom: none
        };
        color: black;

        &:first-child{
            border-top-left-radius: 8px;
            border-top-right-radius:8px;
        }

        &:last-child{
            // border-bottom: $border-style;
            // border-bottom-left-radius: 8px;
            // border-bottom-left-radius: 8px;

            //以下和上面注释的写法效果一样
            border-bottom: $border-style{
                left-radius: $border-radius;
                right-radius: $border-radius;
            };
        }
        
        &:hover{
            background-color: red;
        }
    }

}