.nav{
    display: flex;
}

/* .nav__item{
    text-decoration: none;
    padding: 16px;
    color: #49515d;
    font-size: 15px;
    opacity: 0.6;

}

.nav__item--active{
    opacity: 1;
}

.nav__item--active::after{
    content: "";
    display: block;
    height: 3px;
    background-color: #377e9a;
    margin-top: 4px;

} */