.tableContainer {
  overflow-x: auto;
}

.draggableTable {
  width: 100%;
  border-collapse: collapse;
}

.headerCell,
.dataCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.headerCell {
  background-color: #f4f4f4;
  cursor: pointer;
}

.dataRow:nth-child(even) {
  background-color: #f9f9f9;
}

.dataRow:hover {
  background-color: #f1f1f1;
}

/* --------------------------- */
th,
td {
  border: 1px solid #dbdbdb;

  padding: 8px;
  text-align: left;
}

/* Header styling */
th {
  background-color: #f2f2f2;
}

/* Specific cell styling */
.highlight {
  background-color: #00f; /* placeholder color */
  color: #fff;
}

/* Wo/W changes and Rank styling */
.negative {
  color: red;
}

.positive {
  color: green;
}

.startTd {
  border-left: 2px solid black;
}
