@import url("https://fonts.googleapis.com/css?family=Roboto");

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #4181ee
}

.card{
    max-width: 300px;
    min-height: 250px;
    background-color: aquamarine;
    
    box-sizing: border-box;
    
    color: #fff;
    padding: 30px;
    border-radius: 3px;
    margin: 20px;

    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.cardImageContainer img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;            /*使得.wrap下的.card可以流动*/
}

.card:nth-child(2){
    background-color: #4181ee;
}

.card:last-child{
    background-color: #673ab7;
}

.cardContent{
    width: 100%;
}

.cardTitle{
    margin-bottom: 20px;
}

.cardInfo{
    display: flex;
    align-items: center;            /*沿辅轴方向居中*/
    /* justify-content: space-between; */
}

/*实现'space between'的另一种方法*/
.text{
    flex: 1;
}



.card_price{
    background-color: #555;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.card:hover{
    transform: translateY(-8px);

}