html,
body {
  margin: 0;
  padding: 0;
  width: 100vw; /*vw: vision window width */
  height: 100vh; /*vh: vision window height*/
}

.block5 {
  width: 90%; /*follow html, body width & height, making mother block change with web window*/
  height: 90%;
  background: red;
  border: 3px solid black;
  border-radius: 10px;

  position: relative;
  overflow: hidden; /*used to hide sub blocks which fall outside mother block */

  display: flex; /*turn on FLexbox*/
  flex-direction: row;
  flex-wrap: wrap; 
  /* making sub block flowable and maintain their size when mother block changes its shape */

 
  /* justify-content: center; */
  /* align-content: space-around; */
  align-items: flex-start;
}

.block5_sub {
  width: 100px;
  height: 100px;
  background: green;
  border: 1px solid gold;
}

/* .block5_sub:nth-child(2){
  align-self: flex-start;

} */