/*我的*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #303032;
}

main{
    display: grid;  
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;         /*fr for fraction*/
    grid-gap: 40px;
    padding: 60px 0;
}

/*以下 .cards{}, 明明一模一样, 前一个不work, 后一个work*/


.cards {
    
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));      /*刚开始auto和60px之间忘了打逗号了*/  
    grid-gap:40px;
} 


.card{
    /*每张card span 4 columns*/
    grid-column-end: span 4;

    display: flex;
    flex-direction: column;
    cursor: pointer;

    transition: all 0.3s ease 0s;
}

.card:hover{
    transform: translateY(-8px);
}

.card__image-container{
    width: 100%;
}

.card__image-container img{
    width: 100%;

    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*responsive*/

@media only screen and (max-width: 1000px){
    .card{
        grid-column-end: span 6;
    }

}

@media only screen and (max-width: 700px){
    main{
        grid-gap: 20px;
    }

    .card{
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px){
    main{
        grid-gap: 10px;
        grid-template-columns: 10px repeat(6,1fr) 10px;
    }

    .cards{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
    }

    card{
        grid-column-end: span 6;
    }
}